@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-padding-top: 120px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

section {
  scroll-margin-top: 120px;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #BF3131;
  border-radius: 3px;
}
.custom-scroll {
  scrollbar-color: #BF3131 transparent;
  scrollbar-width: thin;
}
