@import "tailwindcss";
@import "tw-animate-css";

.custom-scroll::-webkit-scrollbar {
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #bf3131;
  border-radius: 9999px;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #bf3131 transparent;
}
